In [1]:
import pandas as pd

In [17]:
data = pd.read_json('data.json') #Reading the data from json
data.head()
content = data['content'] #Extracting the content column as it's in a format of column of dictionaries 
# content is a Pandas Series now
data.head()

     srp                                            content
0  srp-1  {'price_info': '₹1.95 Cr', 'room_info': '5 BHK...
1  srp-2  {'price_info': '₹1.25 Cr', 'room_info': '5 BHK...
2  srp-3  {'price_info': '₹95.16 L', 'room_info': '5, 4 ...
3  srp-4  {'price_info': '₹1.94 Cr', 'room_info': '5, 4 ...
4  srp-5  {'price_info': '₹3.45 Cr', 'room_info': '3, 4 ...

In [25]:
content.values # it's a numpy array of dictionaries containing all values(dictionaries) from content

content_list = content.values.tolist() #Converting the np array to list

content_data = pd.DataFrame(content_list) #Converting the list to data frame

content_data['srp'] = data['srp'] #Adding the srp column from the original data frame to new data frame

content_data.set_index('srp',inplace=True) #setting srp as index 
#because it does have unique values for each row you can reset it if you don't want it as an index

final = content_data # Just for simplification and naming 
final #tadaaa

,price_info,room_info,size_info,main_info,possession_info,nearby_places
srp,,,,,,
srp-1,₹1.95 Cr,"5 BHK, 3 BHK, 5 BHK, 4 BHK, 5 BHK",0 sq.ft,New Launch₹1.95 Cr - 4.11 CrEMI starts at ₹96....,"Possession DateOct, 2028Average Price",Kidzee Raghunathpuris 0.1 km awayClinic of Lap...
srp-2,₹1.25 Cr,"5 BHK, 3 BHK, 4 BHK",,View Tour₹1.25 Cr - 1.38 CrEMI starts at ₹62...,"Possession DateApr, 2026Average Price",Balianta High Schoolis 0.1 km awayHi-Tech Medi...
srp-3,₹95.16 L,"5, 4 BHK",,₹95.16 L - 2.02 CrEMI starts at ₹47.24 KShuvam...,"Possession DateJun, 2030Average Price",D C M Saraswati Vidya Mandiris 1.7 km awayASSU...
srp-4,₹1.94 Cr,"5, 4 BHK, 3 BHK, 5 BHK, 4 BHK",0 sq.ft,View Tour₹1.94 Cr - 2.64 CrEMI starts at ₹96...,"Possession DateFeb, 2028Average Price",Brilliant Mindsis 0.2 km awayDoctors Patholab ...
srp-5,₹3.45 Cr,"3, 4 BHK",,₹3.45 Cr - 4.4 CrEMI starts at ₹1.71 LacsDN Yo...,"Possession DateFeb, 2029Average Price",Firstcry Intellitots Preschool & Daycare - Gaj...
...,...,...,...,...,...,...
srp-1995,₹58.03 L,"2, 3, 4 BHK, 2 BHK, 3 BHK, 4 BHK",0 sq.ft,Request Images₹58.03 L - 1.23 CrEMI starts at ...,"Possession DateDec, 2012Average Price",Kasturaba Shikshya Ashram Vidyamandiris 0.5 km...
srp-1996,₹35.0 L,"3, 4, 5, 6 BHK, 3 BHK, 4 BHK, 5 BHK, 6 BHK",,Request Images₹35.0 L - 78.0 LEMI starts at ₹1...,"Possession DateDec, 2016Average Price3 K",Injana high schoolis 1 km awayNaharkanta UPHCi...
srp-1997,₹5.4 L,,"1200 sq.ft, 0 sq.ft, 0 sq.ft",Request Images₹5.4 L - 10.8 LEMI starts at ₹2....,"Possession DateDec, 2015Plot area1200 sq",Sai Kids Foundation Play Schoolis 4.5 km awayD...
srp-1998,₹13.72 L,"1, 2, 3 BHK, 1 BHK, 2 BHK, 3 BHK",0 sq.ft,Request Images₹13.72 L - 31.88 LEMI starts at ...,"Possession DateDec, 2017Average Price","EuroKids Pre-School at BJB Nagar, Best Kinderg..."
srp-1999,₹42.0 L,"2, 3 BHK, 2 BHK, 3 BHK",0 sq.ft,Request Images₹42.0 L - 63.0 LEMI starts at ₹2...,"Possession DateAug, 2019Average Price",Subhadra Mahatab Girls' High Schoolis 0.4 km a...

In [27]:
type(final.main_info[0])
# there are still some string data types like 
# main_info,possession_info and nearby_places

str

In [28]:
final.to_csv('simplifieddata.csv')

In [29]:
final.to_excel('s1.xlsx')